    /*==================================================================
    CSS per defecte
    ====================================================================*/
    /*we set the font style we want*/
  @font-face
    {
    font-family: "Fjalla";
    src: url('../fonts/FjallaOne-Regular.otf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

      @font-face
    {
    font-family: "Arial2";
    src: url('../fonts/Arial.ttf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

      @font-face
    {
    font-family: "Arial Narrow2";
    src: url('../fonts/Arial-Narrow.ttf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

    @font-face
    {
    font-family: "Times";
    src: url('../fonts/times.ttf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

body {
        padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-color: black;

      }

li a{
	color: white;

}

hr{
	width:450px;
	border-top: 1px solid #808080;
}

/*==================================================================
    CSS classes Bootstrap
====================================================================*/


.navbar{
	 background-color: transparent;
	 padding-top:10px;
}

.navbar .navbar-nav > li > a {
	font-family: "Arial Narrow2";
	font-size:12pt;

}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right:10px;
  line-height: 10px;
}

.navbar-collapse:before, .navbar-collapse:after{display:inline; content:"";}

.row {
	background-color: transparent;
}

.col-md-4{
    
    background-color: transparent;
}

.container{
	background-color: transparent;

}

#footer{
	line-height: 8px;
	text-align: center;
	font-size: 10pt;
	color:#808080;
	margin-top: 15px;
	background-color: transparent
}

#footer .ines{
	color:white;
}

#footer .link_foot{
	padding-top: 15px;
}

#footer a{
	text-decoration: none;
	color:#808080;
}




/*==================================================================
    CSS personalitzat
====================================================================*/
.navbar .navbar-nav > li > .pages:hover {
	background-color: #ffff47;
	color:black;
}

.active2 { /*Manté el color de la pagina on ens trobem*/
	 background-color: #ffff47;
	 color:black;
}

/*.title{ /* Característiques del títol a index.html
	font-family: "Fjalla";
	text-align: center;
	font-size: 120px;
	color:white;

}*/

#grid{
	margin-top: 150px;


}

/*Centrar el GRID*/
.left{
	z-index: 2;  /*Ens permet solapar els divs*/
	margin-right: -90px;
	margin-left: 90px;
}

.center{
	z-index:1;

}

.right{
	z-index:2;
	margin-left: -90px;
	

}

.ptitle{ 
	font-family: "Fjalla";
	text-align: center;
	font-size: 120px;
	color:white;

	z-index:100;
    position:absolute;

    /*Ens centra el text quan té posició abasoluta*/
     left:0;
     right: 0;   

}


.lang{
	 color:#808080	;
	 font-size: 12px;
	 padding: 5px;
}

.navbar .navbar-right{
	padding-right: 30px;

	
}

.navbar .navbar-nav > li > .lang:hover {
	background-color: transparent;
	color:white;
}

.image{
   
   width:600px;
   height: 600px;
   position:absolute;
   top: 33px;
   margin: 0 auto;
   left:0;
   right:0;

}

.image2{
   position:absolute;
   top: 15%;
    margin: 0 auto;
    left:0;
    right:0;
}


.image_h{
   padding-top: 20px;
   margin-left: 31%;
}

.texto{
	font-family: "Arial2";
	text-align:center; 
    color:white;
    font-size: 17pt;

    margin-left: 25%;
  
    margin-top:46%;
    width:52%;


}

.texto2{
	background-color: transparent;
	font-family: "Arial2";
	text-align:center; 
    color:white;
    font-size: 14pt;
    line-height: 20pt;

    
    margin: 0 auto;
    left:0;
    right:0;
  
    top:633px;
    width:500px;
    position:absolute;

}
.texto2 p{
	margin-bottom:10pt;
}

.about{
	background-color: transparent;
	font-family: "Times";
	text-align:left; 
    color:white;
    font-size: 16pt;
    line-height: 24pt;

    
    margin: 0 auto;
    left:0;
    right:0;

    width:450px;
    position:absolute;
    margin-top:30px;
}

.about p{
	margin-bottom:10pt;
}

.about a,
.about a:hover{
	text-decoration: underline;
	color:white;
}

.h1_v{ 
	font-family: "Arial2";
	text-align: center;
	color:white;

	margin-left: 24%;
	 top:65%;
	 width:42%;
	
    position:absolute;

    /*Ens centra el text quan té posició abasoluta*/
    

}

#think{
	font-family: "Arial2";
	text-align: center;
	color:white;
	  font-size: 20pt;
	  letter-spacing:4px;

	  padding-top: 15px;
	   margin-left: 2%;

}

#tumblr{
	font-family: "Arial2";
	text-align: center;
	color:white;
	font-size: 17pt;

	 padding-top: 15px;
	 margin-left: 2%;
	  text-decoration:underline;

}


#zoom{
	top: 85px;
	z-index:150;
	left: 93%;
    position:absolute;
}

#zoom img{
	width: 40px;
	

	display: block;
}

#share-buttons{
	top:130px;
	position: absolute; 
	left:0;
	width: 60px; 
	z-index:150;
}

#share-buttons img {
	padding: 1px;
	width:60px;
	border: 0;
	box-shadow: 0;
	display: block;

}

.social_act{
	top:130px;
	position: absolute; 
	
	background-color: transparent;
	left:60px;
	z-index: 152;


	
}

.social_act div{
	padding: 1px;
	display: none;

}

.social_act .google-button{
	padding-left: 10px;
	

}

.social_act .fb{
		
	margin-top: 11px;
	padding-left: 10px;

}

.social_act .pin{
		
	margin-top: 93px;
	padding-left: 10px;
	
}

.google-button{
	margin-top: 50px;

	
}

#share-buttons_h{
	
	left: 0;
	right:0; 
	text-align:center; 

}

#share-buttons_h a{

	padding: 15px;

}

#share-buttons_h2{
	
	padding-top: 40px;
	left: 0;
	right:0; 
	text-align:center;
 
}

#share-buttons_h2 a{
	width: 35px;
	padding: 25px;
}

.text_social{
	color:white;
	font-size: 12pt;

}

.text_social:hover{
	color:white;
	text-decoration:underline;

}

.myhr{
	border: 0; 
	width:100%;
	height: 1.5px; 
	text-align: center; 
	background: rgb(0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 25%, rgba(102,102,102,1) 50%, rgba(19,19,19,1) 77%);
	background: -webkit-gradient(linear, left top, right top, color-stop(25%,rgba(0,0,0,1)), color-stop(50%,rgba(102,102,102,1)), color-stop(77%,rgba(19,19,19,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 25%,rgba(102,102,102,1) 50%,rgba(19,19,19,1) 77%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 25%,rgba(102,102,102,1) 50%,rgba(19,19,19,1) 77%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 25%,rgba(102,102,102,1) 50%,rgba(19,19,19,1) 77%);
	background: linear-gradient(to right, rgba(0,0,0,1) 25%,rgba(102,102,102,1) 50%,rgba(19,19,19,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313',GradientType=1 );
}

.music{
	font-family: "Arial";
	color:#ffff47;
	font-size: 8px;
	 padding: 5px;
	

}

.navbar .navbar-nav > li > .music:link{
	background-color: transparent;
	color:#ffff47;
}

.navbar .navbar-nav > li > .music:hover {
	background-color: transparent;
	color:white;
}

.navbar .navbar-nav img {
	position:absolute;
	right: 263px;
	top: 17px;
}



