    /*==================================================================
    CSS per defecte
    ====================================================================*/
    /*we set the font style we want*/
  @font-face
    {
    font-family: "Fjalla";
    src: url('../fonts/FjallaOne-Regular.otf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

      @font-face
    {
    font-family: "Arial2";
    src: url('../fonts/Arial.ttf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

      @font-face
    {
    font-family: "Arial Narrow2";
    src: url('../fonts/Arial-Narrow.ttf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

    @font-face
    {
    font-family: "Times";
    src: url('../fonts/times.ttf');
        /*,url('Sansation_Light.eot'); /* IE9 */
    }

body {
        padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-color: black;
        padding-bottom: 10px;

      }

li a{
	color: white;

}

hr{
	margin-top: 40px;
	width:450px;
	border-top: 1px solid #808080;
}

/*==================================================================
    CSS classes Bootstrap
====================================================================*/


.navbar{
	 background-color: transparent;
	 padding-top:20px;
}

.navbar .navbar-nav > li > a {
	font-family: "Arial Narrow2";
	font-size:12pt;
	font-weight: 100;

}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right:10px;
  line-height: 10px;
}

.navbar-collapse:before, .navbar-collapse:after{display:inline; content:"";}

.row {
	background-color: transparent;
}

.col-md-4{
    
    background-color: transparent;
}

.container{
	background-color: transparent;

}

#footer{
	font-family: "Arial Narrow2";
	font-weight: 300;
	line-height: 8px;
	text-align: center;
	font-size: 8pt;
	color:#666666;
	
	
	padding-bottom: 20px;
}


#footer .ines{
	color:white;
}

/*#footer .link_foot{
	padding-top: 10px;
}*/

#footer a{
	text-decoration: none;
	color:#666666;
}

#footer a:hover{
	color: white;
}

/*==================================================================
    CSS personalitzat
====================================================================*/
/*Coming soon*/
.soon{
	font-size: 14pt;
    line-height: 18pt;
	font-family: "Times";
	margin-bottom:7pt;
	font-weight: 100;
	color: white;
	text-align: center;
	margin-top: -20px;
}

.soon a,
.soon a:hover{
	color: white;
}

#gif{
	position: absolute;
	margin: 0 auto;
    left:0;
    right:0;

}

#countdown{
	font-size: 65px;
	font-family: 'Arial Narrow2';
	font-weight: 800;
	color: white;
	background-color: transparent;
	text-align: center;

}


/* CSS barra navegació pagines */
.logo_V {
	padding: 5px 5px;
	margin-top: -12px;
	margin-left: -8px;
}

.navbar .navbar-nav > li > .pages:hover {
	background-color: #ffff47;
	color:black;
}

.active2 { /*Manté el color de la pagina on ens trobem*/
	 background-color: #ffff47;
	 color:black;
}

.pages2{
	 color:white;
	 opacity: 0.35;
}

.navbar .navbar-nav > li > .pages2:hover {
	background-color: transparent;
	color:white;
}

/* CSS Barra navegació llengües */
.lang{
	 color:#666666	;
	 font-size: 12px;
	 padding: 5px;
}

.navbar .navbar-right{
	padding-right: 30px;

	
}

.navbar .navbar-nav > li > .lang:hover {
	background-color: transparent;
	color:white;
}

.lang2{
	 color:white	;
	 font-size: 12px;
	 padding: 5px;
	 opacity: 0.35;
}

.navbar .navbar-nav > li > .lang2:hover {
	background-color: transparent;
	color:white;
}
/* CSS grid per les mandales en miniatura*/
#grid{
	margin-top: 150px;
    margin-bottom: 35px;

}

/*Centrar el GRID*/
.left{
	z-index: 2;  /*Ens permet solapar els divs*/
	margin-right: -90px;
	margin-left: 90px;
}

.center{
	z-index:1;

}

.right{
	z-index:2;
	margin-left: -90px;
}

/* CSS Títol gran intro i mandales */
.ptitle{ 
	font-family: "Fjalla";
	font-weight:bold;
	text-align: center;
	font-size: 135px;
	color:white;
	letter-spacing:-3pt;

	z-index:100;
    position:absolute;

    /*Ens centra el text quan té posició abasoluta*/
     left:0;
     right: 0;   

}

/*CSS Imatge Mandales*/
.image{
   
   width:600px;
   height: 600px;
   position:absolute;
   top: 33px;
   margin: 0 auto;
   left:0;
   right:0;

}

/*CSS Imatge Manifest*/
.image2{
   position:absolute;
   top: 15%;
    margin: 0 auto;
    left:0;
    right:0;
}


.image_h{
   padding-top: 20px;
   margin-left: 31%;
}

/* CSS Textos intro i mandales*/
.texto_intro{
	font-family: "Arial2";
	/*font-style: italic;*/
	text-align:center; 
    color:white;
  
    width:650px;
    font-size: 12pt;
    line-height: 24pt;
    font-weight: 100 !important;

    margin: 0 auto;
    left:0;
    right:0;

    margin-bottom: 30px;

}

.texto_intro p{
	margin-bottom:10pt;
}


.texto2{
	background-color: transparent;
	font-family: "Arial2";
	text-align:center; 
    color:white;
    font-size: 14pt;
    font-weight: 100;
    line-height: 20pt;

    
    margin: 0 auto;
    left:0;
    right:0;
  
    top:633px;
    width:500px;
    position:absolute;

}
.texto2 p{
	margin-bottom:10pt;
}

/*CSS about, agraiments, contacte */

.about {
	background-color: transparent;
	
	text-align:left; 
    color:white;
    
    margin: 0 auto;
    left:0;
    right:0;

    width:500px;
    margin-top:30px;
}

.about p{
	font-size: 12pt;
	font-weight: 400;
    line-height: 18pt;
	font-family: "Arial2";
	margin-bottom:7pt;
	font-weight: 100;
}

 .about .mayus{
 		
 	font-size: 20pt;
 }

.about a,
.about a:hover{
	text-decoration: underline;
	color:white;
}

.about .gr,
.about .gr:hover{
	text-decoration: underline;
	color:#808080;
}


/*CSS Manifest */

#think{
	font-family: "Arial2";
	text-align: center;
	color:white;
	  font-size: 20pt;
	  letter-spacing:4px;

	  padding-top: 15px;
	   margin-left: 2%;

}

#tumblr{
	font-family: "Arial2";
	text-align: center;
	color:white;
	font-size: 17pt;

	 padding-top: 15px;
	 margin-left: 2%;
	  text-decoration:underline;

}


/* CSS SOCIAL BUTTONS*/
/*VERTICALS*/
#share-buttons{
	top:130px;
	position: absolute; 
	left:0;

	z-index:150;
}

#share-buttons img {
	padding: 1px;
	width:60px;
	border: 0;
	box-shadow: 0;
	display: block;

}

.social_act{
    width: 200px;
    height:300px;
	top:130px;
	position: absolute; 
	
	background-color: transparent;
	left:60px;



	
}

.social_act div{
	padding: 1px;
	display: none;

}

.social_act .google-button{
	padding-left: 10px;

}

.social_act .fb{
		
	margin-top: 11px;
	padding-left: 10px;

}

.social_act .pin{
		
	margin-top: 86px;
	padding-left: 10px;
	
}

.google-button{
	margin-top: 47px;

	
}

/*HORITZONTALS*/
.social_actH{
	background-color: transparent;
	margin:0 auto;
	left:0;
	right:0;
	
}

.social_actH div{
	background-color: transparent;
	height: 30px;
	padding: 1px;
	display: none;
	position: absolute;
	z-index: 152;

}

.social_actH .google-buttonH{
	width:43px;
	padding-top: 8px;
	margin-left: 525px;

}


.social_actH .fbH{
	padding-top: 10px;
	margin-left: 455px;
		

}

.social_actH .pinH{
	padding-top: 10px;
	margin-left: 583px;	

	
}

.share-buttons_h{

	margin: 0 auto;
	left: 0;
	right:0; 
	margin-left:502px;

}

.share-buttons_h .padd{
  margin-left:-2px;
  margin-top: 20px;
}


#share-buttons_h2{
	
	padding-top: 40px;
	left: 0;
	right:0; 
	text-align:center;
 
}

#share-buttons_h2 a{
	width: 35px;
	padding: 25px;
}

/* Footer gradient */
.myhr{
	
	border: 0; 
	width:100%;
	height: 3px; 
	text-align: center; 
	background: rgb(0,0,0);
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(51,51,51,1) 40%, rgba(96,96,96,1) 50%, rgba(51,51,51,1) 60%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(40%,rgba(51,51,51,1)), color-stop(50%,rgba(96,96,96,1)), color-stop(60%,rgba(51,51,51,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(51,51,51,1) 40%,rgba(96,96,96,1) 50%,rgba(51,51,51,1) 60%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(51,51,51,1) 40%,rgba(96,96,96,1) 50%,rgba(51,51,51,1) 60%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(51,51,51,1) 40%,rgba(96,96,96,1) 50%,rgba(51,51,51,1) 60%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(51,51,51,1) 40%,rgba(96,96,96,1) 50%,rgba(51,51,51,1) 60%,rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}


/* CSS Music player */
.music{
	outline: none;  
	font-family: "Arial2";
	font-weight: 300;
	color:#ffff47;
	font-size: 8px;
	 padding: 5px;
	

}

.navbar .navbar-nav > li > .music:link{
	background-color: transparent;
	color:#ffff47;
}

.navbar .navbar-nav > li > .music:hover {
	background-color: transparent;
	color:#ffff47;
}

.navbar .navbar-nav img {
	position:absolute;
	right: 263px;
	top: 17px;
}

.m_text{
	padding: 10px;
	color:white;
	font-size: 12pt;
	font-family:"Arial2";
	font-weight: 400;
}

.m_text a{
	outline: none;  
	color:#ffff47;
	font-size: 12pt;
	font-family:"Arial2";
	font-weight: 400;
}


/* SLIDER + ZOOM*/

#zoom{
	top: 80px;
	z-index:150;
	left: 95%;
    position:absolute;
}

#zoom img{
	width: 40px;
	
    cursor: pointer;
	display: block;
}

#minus {

	position:absolute;
	margin-top: 175px;
	margin-left: 1px;
}

#slider-vertical{  
	  top: 125px;
	  z-index:160;
	  left: 95%;
      margin-left: 3px;
      width: 30px;  
      position: absolute;  
      height: 175px;    
      background: url('../images/zoom/zoominzoomout.png') no-repeat;  
      
  } 

  .ui-slider-vertical .ui-slider-handle {  
      position: absolute;  
      z-index: 2;  
      width: 25px;  
      height: 25px;  
      cursor: pointer;  
      background: url('../images/zoom/zoom_button_corrediis.png') no-repeat 50% 50%;  
      outline: none;   
      margin-left: 5px; 
      margin-bottom: -11px; 
  } 


.ui-slider-range {  
  
    position: absolute;  
    border: 0;  
    top: 0;  
    height: 100%;  
    
} 


