/*==================================================================
CSS mobile version
====================================================================*/

/*==================================================================
CSS  Bootstrap classes modified
====================================================================*/
.item{
    margin: 0 auto;
    left:0;
    right:0;
}

.item img {
    margin: 0 auto;
    left:0;
    right:0;
}

.carousel-inner{
    margin-top: 90px;
}


.select{
    margin-top: 30px;
    text-align: center;

}

.navbar-default{
    border-color: transparent;
    background-color: transparent;
    margin-bottom: 0px;
    padding-top: 0px;
    z-index: 1050;

}

.navbar-toggle {
    float: left;
    margin-left: 20px;
    z-index:1050;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-collapse.in {
    width: 155px;
    background-color: white;
}

.collapsing {
  width:155px;
  background-color: white;
}

.carousel .item {-webkit-transition: opacity 0s; -moz-transition: opacity 0s; -ms-transition: opacity 0s; -o-transition: opacity 0s; transition: opacity 0s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.img-responsive {
    margin: 0 auto;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*==================================================================
CSS custom
====================================================================*/
/* Text */
#intext{
    background-color: transparent;
    font-family: "Arial2";
    text-align:center; 
    color:white;

    font-size: 13pt;
    font-weight: 100;
    line-height: 18pt;

}

.mtext{
	background-color: transparent;
	font-family: "Arial2";
	text-align:center; 
    color:white;

    font-size: 13pt;
    font-weight: 100;
    line-height: 18pt;

}

/*Entry to the website*/

.enter{
	margin-top: 10px;
}

.go,
.go:hover{
    color:#ffff47;
    text-decoration: underline;
    font-size: 14px;
}

/*Link zoom*/
.zoomP,
.zoomP a{
    color:white;
    text-align: right;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: -15px;
}
/* Social buttons*/
.social_phoneH{
    margin-top: 20px;
    margin-bottom: 30px;
   
}

.butH{
    z-index:-2;
}

#pbuttH{
    text-align: center;

}

#fbuttH{
    text-align: right;

}

.gbuttH{
   text-align: left;
}

/* Collapse menu dropdown*/
#yey a{
    color:black;
    background-color: white;
}

#yey a:hover,
#yey .active2{
    color:black;
    background-color: #ffff47;
}

/*Collapse button*/
.btn-custom{
    background-size: 100%;
    border-radius: 0;
    width:40px;
    height: 40px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.btn-background{
    background-image: url('../images/buttons/btn_menu.png');
}

.btn-background-hov{
    background-image: url('../images/buttons/btn-click.png');
}

/*Button next navbar collapse*/

.next2,
.next2:hover{
    float:right;
    color:#ffff47;
    text-decoration: underline;
    margin-right: 20px;
    margin-top: 10px;
}


/*Hr mobile version*/
.myhrP{
    color:#808080;
    width: auto;
}

/*==================================================================
 RESPONSIVE DESIGN Mobile & Tablet
====================================================================*/
/*Narrower mobile*/
@media (max-width:560px){
    .about{
        width:auto;
    }
}

/*Mobile*/
@media (max-width: 768px){
	body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-color: black;
        padding-bottom: 15px;

    }

    .ptitle{
    	font-size: 80px;
        line-height:85px;
        letter-spacing:-2pt;
        padding-top: 10px;
    }

    .navbar-header{
        background-color: #333333;
        opacity: 0.96;
        height:40px;
        
    }

    #footer{
        text-align: left;

    }

    #footer .ines{
        color:#606060;
        font-family: "Trebuchet";
        font-weight: 100;
        font-size: 11pt;
        font-style: normal;
    }

    #footer .power{
        font-family: "Trebuchet";
        color: #606060;
        font-style: normal;

    }

    #footer .link_foot{
        color:#999999;

    }

    #footer a{
        font-family: "Trebuchet";
        font-size: 11pt;
        color:#999999;
        text-decoration: none;

    }

    #footer a:hover{
        color: #ffff47;
    }

    .navbar .navbar-nav > li > a {
        font-size: 15px;
    }

}

/*Tablets*/
@media (max-width: 992px){
    body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-color: black;
        padding-bottom: 15px;

    }

    .ptitle{
        font-size: 80px;
        line-height:85px;
        letter-spacing:-2pt;
        padding-top: 10px;
    }

    .navbar .navbar-nav > li > a {
        font-size: 15px;
    }

    /*This CSS allows us to collapse navbar before default in bootstrap*/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-header{
        background-color: #333333;
        opacity: 0.96;
        height:40px;    
    }

}




